/* SEA THEME */
/* body {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 54, 104, 0.582)), url(img/sea-wave-2.jpg) no-repeat center;
    background-size: cover;
} */
body {
    /* background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 54, 104, 0.582)), url(img/sea-wave-2.jpg) no-repeat center;
    background-size: cover; */
    margin: 0;
    animation: sky 100s infinite linear;
}

@keyframes sky {
 0% { background:url(img/sky-star-min.png) bottom repeat; background-size: 30%;}
 100% { background:url(img/sky-star-min.png) top repeat;background-size: 30%;} 
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(17, 9, 54, 0.521), rgba(11, 3, 44, 0.5))
}

.hidden {
    display: none;
}
#rideau {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.8;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

#rideau.slide-up {

    top:-100rem;
    transition: 1s;
}

#go {
    height: 2rem;
    width: 2rem;
    background: #E84855;
    border-radius: 99%;
    cursor: pointer;
}

#go.shine {
    animation: shine 1s infinite;
    background: yellow;
}


@keyframes shine {
    0% {
        transform:scale(1.5);
        transform-origin: center;
        opacity:0.5;
        background: #E84855;
       
    }

    
    50% {
        transform:scale(1.65);
        transform-origin: center;
        opacity:0.7;
        background: yellow;
    }   


    100% {
        transform:scale(1);
        transform-origin: center;
        opacity:1;
        background: #E84855;
       
    }

}



#go.active {
    animation: boom 1.5s;
    opacity: 0;
    
}

@keyframes boom {
    0% {
        transform:scale(1);
        transform-origin: center;
        opacity:1;
        background: #E84855;
       
    }

    75%{

        transform:scale(-1);
        transform-origin: center;
        opacity:1;
        background: #E84855;

    }


    100% {
        transform:scale(15);
        transform-origin: center;
        opacity:0;
        background: yellow;
       
    }

}


.stars{
    height: 5px;
    width: 5px;
    background:#F2F3D9;
    opacity: 0.5;
}

#board.flip-horizontal-bottom {

	-webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-horizontal-bottom 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }
  

#board{
    padding: 1rem;
    background: linear-gradient(45deg, #dac4d68f, #ffc5c5);
    border-radius: 7%;
    box-shadow: #ffffff26 0px 0px 20px 20px;
}
#board .line {
    display: flex;
    /* justify-content: center; */
    /* background: url(img/wave.svg) no-repeat center;
    background-size: cover; */
    
    /* clip-path: polygon(100% 0%, 0% 0% , 0% 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%, 7% 62.9%, 8% 62.25%, 9% 61.55%, 10% 60.8%, 11% 59.95%, 12% 59.05%, 13% 58.1%, 14% 57.1%, 15% 56.05%, 16% 55%, 17% 53.9%, 18% 52.8%, 19% 51.65%, 20% 50.5%, 21% 49.35%, 22% 48.2%, 23% 47.05%, 24% 45.9%, 25% 44.8%, 26% 43.75%, 27% 42.75%, 28% 41.75%, 29% 40.8%, 30% 39.9%, 31% 39.1%, 32% 38.35%, 33% 37.65%, 34% 37.05%, 35% 36.5%, 36% 36.05%, 37% 35.65%, 38% 35.35%, 39% 35.15%, 40% 35.05%, 41% 35%, 42% 35.05%, 43% 35.2%, 44% 35.45%, 45% 35.75%, 46% 36.15%, 47% 36.65%, 48% 37.2%, 49% 37.85%, 50% 38.55%, 51% 39.35%, 52% 40.2%, 53% 41.1%, 54% 42.05%, 55% 43.05%, 56% 44.1%, 57% 45.15%, 58% 46.3%, 59% 47.4%, 60% 48.55%, 61% 49.7%, 62% 50.85%, 63% 52%, 64% 53.15%, 65% 54.25%, 66% 55.35%, 67% 56.4%, 68% 57.45%, 69% 58.4%, 70% 59.35%, 71% 60.2%, 72% 61.05%, 73% 61.8%, 74% 62.45%, 75% 63.05%, 76% 63.6%, 77% 64.05%, 78% 64.4%, 79% 64.7%, 80% 64.85%, 81% 65%, 82% 65%, 83% 64.9%, 84% 64.75%, 85% 64.5%, 86% 64.2%, 87% 63.75%, 88% 63.25%, 89% 62.7%, 90% 62.05%, 91% 61.3%, 92% 60.5%, 93% 59.65%, 94% 58.75%, 95% 57.8%, 96% 56.8%, 97% 55.75%, 98% 54.65%, 99% 53.55%, 100% 52.4%); */

}

.wave {
    display: block;
    position: relative;
    top: -2px;
    height: 500px;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 2048 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(47, 73, 94, 1)" d="M 0 0 C 153.5 0 153.5 66 307 66 L 307 66 L 307 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(47, 73, 94, 1)" d="M 306 66 C 407.5 66 407.5 31 509 31 L 509 31 L 509 0 L 306 0 Z" stroke-width="0"></path> <path fill="rgba(47, 73, 94, 1)" d="M 508 31 C 704.5 31 704.5 60 901 60 L 901 60 L 901 0 L 508 0 Z" stroke-width="0"></path><path fill="rgba(47, 73, 94, 1)" d="M 900 60 C 1073 60 1073 34 1246 34 L 1246 34 L 1246 0 L 900 0 Z" stroke-width="0"></path><path fill="rgba(47, 73, 94, 1)" d="M 1245 34 C 1428.5 34 1428.5 74 1612 74 L 1612 74 L 1612 0 L 1245 0 Z" stroke-width="0"></path><path fill="rgba(47, 73, 94, 1)" d="M 1611 74 C 1829.5 74 1829.5 0 2048 0 L 2048 0 L 2048 0 L 1611 0 Z" stroke-width="0"></path></svg>');
    background-size: cover;
    background-repeat: no-repeat;
   }
   
   @media (max-width:2047px) {
    .div {
      background-size: contain;
    }
   }

.cell {
    height: 5rem;
    width: 5rem;
    border-radius: 1rem;
    position: relative;
    /* background: rgb(235,253,255); */
    background: linear-gradient(38deg, rgba(235,253,255,1) 0%, rgba(255,255,255,0) 9%);
    

}

.cell:hover{
   background:linear-gradient(38deg, rgba(235,253,255,1) 0%, rgba(255,255,255,0.5) 50%);
   box-shadow: inset #ffffff6b 6px 4px 20px 2px;
}

.cell.blocked{
    background: url(img/stone.png) center no-repeat;
    background-size: contain;
}

/* .cell.weapon:before {
    content: "";
    position: absolute;
    width: 3rem;
    height: 1rem;
    border-radius: 99%;
    border: 2px solid blue;
} */

.cell.path{
    /* background: green; */
}

/* .cell.player::after {
    content: "";
    position: absolute;
    width: 4rem;
    height: 1rem;
    left: 50%;
    transform: translate(-50%);
    border-radius: 99%;
    
} */



/* PLAYER-0 */


.player-0{
    width: 5rem;
    height: 5rem;
    position: absolute;
    /* top:50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:50%;
    background: center no-repeat;
    background-size: contain;
    /* background: yellow;
    /* box-shadow: 0px 20px 2px 0px rgb(235 255 0 / 37%);
    -webkit-box-shadow: 0px 20px 2px 0px rgb(235 255 0 / 37%);
    -moz-box-shadow:0px 20px 2px 0px rgb(235 255 0 / 37%); */
    animation: floating 2s infinite;
}

@keyframes floating{
 0% { top:40%;  transform: translate(-50%, -50%); background:url(img/whale_1.svg) center no-repeat; background-size: contain;}
 24% { top:50%; transform: translate(-50%, -50%) scaleY(1.1); transform-origin: bottom; background:url(img/whale_2.svg) center no-repeat; background-size: contain;}
 25% { top:50%; transform: translate(-50%, -50%) scaleY(1.1); transform-origin: bottom; background:url(img/whale_1.svg) center no-repeat; background-size: contain;}
 26% { top:50%; transform: translate(-50%, -50%) scaleY(1.1); transform-origin: bottom; background:url(img/whale_2.svg) center no-repeat; background-size: contain;}
 50% { top:40%; transform: translate(-50%, -50%) scaleY(1.1); transform-origin: bottom; background:url(img/whale_2.svg) center no-repeat; background-size: contain;}
 75% { top:50%; transform: translate(-50%, -50%) scaleY(1.1); transform-origin: bottom; background:url(img/whale_2.svg) center no-repeat; background-size: contain;}
 100%{ top:40%; transform: translate(-50%, -50%); background:url(img/whale_3.svg) center no-repeat; background-size: contain;} 
}

.player-0:hover{
    animation: playing 0.1s infinite ease-in-out;

}

@keyframes playing{
    0% { top:40%;  box-shadow: 0px 20px 2px 0px rgb(235 255 0 / 37%); transform: translate(-50%, -50%) rotate(0%); background:url(img/whale_1.svg) center no-repeat; background-size: contain;}
    50% { top:40%; box-shadow: 0px 9px 1px 0px rgb(235 255 0 / 37%); transform: translate(-50%, -50%) scaleY(1.5) rotate(180%); transform-origin: bottom; background:url(img/whale_2.svg) center no-repeat; background-size: contain;}
    100%{ top:40%;  box-shadow: 0px 20px 2px 0px rgb(235 255 0 / 37%); transform: translate(-50%, -50%) rotate(360%); background:url(img/whale_3.svg) center no-repeat; background-size: contain;} 
}

.player-0.damage{
    width: 3rem;
    height: 3rem;
    position: absolute;
    /* top:50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:50%;
    background: yellow;
    /* box-shadow: 0px 20px 2px 0px rgb(235 255 0 / 37%);
    -webkit-box-shadow: 0px 20px 2px 0px rgb(235 255 0 / 37%);
    -moz-box-shadow:0px 20px 2px 0px rgb(235 255 0 / 37%); */
    animation: damage 0.5s infinite;
}
@keyframes damage{
    0% { top:40%;  box-shadow: 0px 20px 2px 0px rgb(235 255 0 / 37%); transform: translate(-50%, -50%), } 
    50% { top:40%;  border-radius:100%; box-shadow: 0px 9px 1px 0px rgb(235 255 0 / 37%); transform: translate(-50%, -50%) skew(10deg, 10deg); background: red; transform-origin: bottom;}
    100%{ top:40%;  box-shadow: 0px 20px 2px 0px rgb(235 255 0 / 37%); transform: translate(-50%, -50%)} 
}

.player-0.dead{
    width: 3rem;
    height: 0.5rem;
    position: absolute;
    /* top:50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:50%;
    background: red;
    /* box-shadow: 0px 20px 2px 0px rgb(235 255 0 / 37%);
    -webkit-box-shadow: 0px 20px 2px 0px rgb(235 255 0 / 37%);
    -moz-box-shadow:0px 20px 2px 0px rgb(235 255 0 / 37%); */
}

.bulle{
    width: 15rem;
    height: 10rem;
    position: absolute;
    /* top:50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:50%;
    background: white;
    /* box-shadow: 0px 20px 2px 0px rgb(235 255 0 / 37%);
    -webkit-box-shadow: 0px 20px 2px 0px rgb(235 255 0 / 37%);
    -moz-box-shadow:0px 20px 2px 0px rgb(235 255 0 / 37%); */
    animation: onomatopee 0.5s linear;
    animation-fill-mode: forwards;
}

@keyframes onomatopee{
    from { top:40%; transform: scale(1.5), } 
    to { top:10%; transform: translate(-50%, -50%), scale(0); opacity: 0;}
}



/* PLAYER-ONE */


.player-1{
    width: 3rem;
    height: 3rem;
    position: absolute;
    top:50%;
    left: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    background: rgb(255, 241, 251);
    box-shadow: 0px 1px 16px 5px rgb(255 87 240);
    -webkit-box-shadow: 0px 1px 16px 5px rgb(255 87 240);
    -moz-box-shadow: 0px 1px 16px 5px rgb(255 87 240);
    animation: glow 1.5s infinite;
}

.player-1:hover{
    animation: glow 0.1s infinite ease-in-out;

}

@keyframes glow{
    0% { top:50%; 
        box-shadow: 0px 1px 16px 12px rgb(154 165 255); 
        transform: translate(-50%, -50%);
        background: rgba(251, 255, 255, 0.99);
    } 
    75% {
        width: 2.9rem;
        height: 2.9rem;
        background: rgb(251, 255, 255); 
        box-shadow:  0px 1px 20px 20px rgb(154 165 255); 
        top:50%; transform: translate(-50%, -50%);
    }
    /* 75% {background:rgb(245 213 236); box-shadow:  0px 1px 20px 20px rgb(255 199 250 / 0%); top:50%; transform: translate(-50%, -50%);} */
    100%{ top:50%;  
        box-shadow: 0px 1px 16px 12px rgb(154 165 255); 
        transform: translate(-50%, -50%);
        background: rgba(251, 255, 255, 0.99);
    } 
}




.player-0:after{
    content: "PLAYER 0";
    width: 4rem;
    height:4rem;
    box-shadow: -1px 200px 400px 0px rgba(0,0,0,1);
    -webkit-box-shadow: -1px 200px 400px 0px rgba(0,0,0,1);
    -moz-box-shadow: -1px 200px 400px 0px rgba(0,0,0,1); ;
}

.player-1:after{
    content: "PLAYER 1";
    width: 4rem;
    height:4rem;
    box-shadow: -1px 200px 400px 0px rgba(0,0,0,1);
    -webkit-box-shadow: -1px 200px 400px 0px rgba(0,0,0,1);
    -moz-box-shadow: -1px 200px 400px 0px rgba(0,0,0,1); ;
}
/* 
.current:after {
    position: absolute;
    width: 4rem;
    height: 4rem;
    content: "A moi de jouer !";
}

.second:after {
    position: absolute;
    width: 4rem;
    height: 4rem;
    content: "En attente d'action";
} */

.firegun{
    content: "";
    position: absolute;
    width: 4rem;
    height:4rem;
    background: url(img/laser-gun.svg);
}

.shovel{
    content: "";
    position: absolute;
    width: 4rem;
    height:4rem;
    background: url(img/shovel.svg);
}

.rock{
    content: "";
    position: absolute;
    width: 4rem;
    height:4rem;
    background: url(img/stone.svg);
}

.rope{
    content: "";
    position: absolute;
    width: 4rem;
    height:4rem;
    background: url(img/jump-rope.svg);
}

.army > span{
   transform:scale(1.5);
}

.army > span:before{
    
        content: "";
        position: absolute;
        width: 3rem;
        height: 1rem;
        border-radius: 99%;
        border: 2px solid blue;
}   

.modale {
    position: absolute;
    display: flex;
    flex-direction: column;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 35%;
    padding:4rem 2rem;
    opacity:0.9;
    background: linear-gradient(145deg, rgba(232,233,234,0.5) 0%, rgb(255 255 255) 48%, rgba(232,233,234,0.5) 100%);
    border:solid 2px #519ecb;
    border-radius: 1rem;
    z-index: 2;
}

.modale > div {
    display: flex;
    justify-content: center;
}

.modale #attack {
    margin-right: 1rem;
}

.modale #defend {
    margin-left: 1rem;
}

.modale.pop{
    transform: scale(1);
    transition: 0.2s;
}

.modale_score {
    position: absolute;
    display: flex;
    flex-direction: column;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 35%;
    padding:4rem 2rem;
    opacity:0.9;
    background: linear-gradient(145deg, rgba(232,233,234,0.5) 0%, rgb(255 255 255) 48%, rgba(232,233,234,0.5) 100%);
    border:solid 2px #519ecb;
    border-radius: 1rem;
    z-index: 2;
}

.modale_score.pop{
    transform: scale(1);
    transition: 0.2s;
}

.modale_end {
    position: absolute;
    display: flex;
    flex-direction: column;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 35%;
    padding:4rem 2rem;
    opacity:0.9;
    background: linear-gradient(145deg, rgba(0, 1, 2, 0.5) 0%, rgb(255 255 255) 48%, rgba(38, 46, 53, 0.5) 100%);
    border:solid 2px #519ecb;
    border-radius: 1rem;
    z-index: 2;
}

.modale_end.pop{
    transform: scale(1.5);
    transition: 0.2s;
}



.damage{

}

