body {
    background: #030027;
    position: relative;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#rideau {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.8;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

#rideau.slide-up {

    top:-100rem;
    transition: 1s;
}

#go {
    height: 2rem;
    width: 2rem;
    background: #E84855;
    border-radius: 99%;
    cursor: pointer;
}

#go.shine {
    animation: shine 1s infinite;
    background: yellow;
}


@keyframes shine {
    0% {
        transform:scale(1.5);
        transform-origin: center;
        opacity:0.5;
        background: #E84855;
       
    }

    
    50% {
        transform:scale(1.65);
        transform-origin: center;
        opacity:0.7;
        background: yellow;
    }   


    100% {
        transform:scale(1);
        transform-origin: center;
        opacity:1;
        background: #E84855;
       
    }

}



#go.active {
    animation: boom 1.5s;
    opacity: 0;
    
}

@keyframes boom {
    0% {
        transform:scale(1);
        transform-origin: center;
        opacity:1;
        background: #E84855;
       
    }

    75%{

        transform:scale(-1);
        transform-origin: center;
        opacity:1;
        background: #E84855;

    }


    100% {
        transform:scale(15);
        transform-origin: center;
        opacity:0;
        background: yellow;
       
    }

}


.stars{
    height: 5px;
    width: 5px;
    background:#F2F3D9;
    opacity: 0.5;
}

#board.flip-horizontal-bottom {

	-webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-horizontal-bottom 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }
  


#board .line {
    display: flex;
    /* justify-content: center; */
}

.cell {
    height: 5rem;
    width: 5rem;
    border-radius: 1rem;
    border: solid 1px #F2F3D9;
    position: relative;


}

.cell.blocked{
    background: url(img/stone.png) center no-repeat;
    background-size: contain;
}

/* .cell.weapon:before {
    content: "";
    position: absolute;
    width: 3rem;
    height: 1rem;
    border-radius: 99%;
    border: 2px solid blue;
} */

.cell.path{
    background: green;
}

/* .cell.player::after {
    content: "";
    position: absolute;
    width: 4rem;
    height: 1rem;
    left: 50%;
    transform: translate(-50%);
    border-radius: 99%;
    
} */

.cell.accessible{
    background: lawngreen;
    transition: 0.2s;
    

}

.cell.accessible:hover {
    border:solid 3px yellow;
    background: lawngreen;
}

.player-0{
    width: 3rem;
    height: 3rem;
    position: absolute;
    /* top:50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:50%;
    background: yellow;
    /* box-shadow: 0px 20px 2px 0px rgb(235 255 0 / 37%);
    -webkit-box-shadow: 0px 20px 2px 0px rgb(235 255 0 / 37%);
    -moz-box-shadow:0px 20px 2px 0px rgb(235 255 0 / 37%); */
    animation: floating 2s infinite;
}

@keyframes floating{
 0% { top:40%;  box-shadow: 0px 20px 2px 0px rgb(235 255 0 / 37%); transform: translate(-50%, -50%);} 
 50% { top:50%;  border-radius:100%; box-shadow: 0px 9px 1px 0px rgb(235 255 0 / 37%); transform: translate(-50%, -50%) scaleY(1.1); transform-origin: bottom;}
 100%{ top:40%;  box-shadow: 0px 20px 2px 0px rgb(235 255 0 / 37%); transform: translate(-50%, -50%)} 
}


.player-0.move{
    animation: move 1s infinite;
}

@keyframes move{
    0% { top:50%;  box-shadow: 0px 20px 2px 0px rgb(235 255 0 / 37%); transform: translate(-50%, -50%);} 
    50% { top:10%; border-radius:100%; box-shadow: 0px 9px 20px 20px rgb(235 255 0 / 20%); transform: translate(-50%, -50%) scale(1.5); transform-origin: bottom;}
    100% { top:50%; box-shadow: 0px 20px 2px 0px rgb(235 255 0 / 37%); transform: translate(-50%, -50%); opacity:0;} 
   }

.player-0:hover{
    animation: floating 0.1s infinite ease-in-out;

}

.player-1{
    width: 3rem;
    height: 3rem;
    position: absolute;
    top:50%;
    left: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    background: rgb(255, 241, 251);
    box-shadow: 0px 1px 16px 5px rgb(255 87 240);
    -webkit-box-shadow: 0px 1px 16px 5px rgb(255 87 240);
    -moz-box-shadow: 0px 1px 16px 5px rgb(255 87 240);
    animation: glow 1.5s infinite;

}

.player-1:hover{
    animation: glow 0.1s infinite ease-in-out;

}

@keyframes glow{
    0% { top:50%; 
        box-shadow: 0px 1px 16px 12px rgb(154 165 255); 
        transform: translate(-50%, -50%);
        background: rgba(251, 255, 255, 0.99);
    } 
    75% {
        width: 2.9rem;
        height: 2.9rem;
        background: rgb(251, 255, 255); 
        box-shadow:  0px 1px 20px 20px rgb(154 165 255); 
        top:50%; transform: translate(-50%, -50%);
    }
    /* 75% {background:rgb(245 213 236); box-shadow:  0px 1px 20px 20px rgb(255 199 250 / 0%); top:50%; transform: translate(-50%, -50%);} */
    100%{ top:50%;  
        box-shadow: 0px 1px 16px 12px rgb(154 165 255); 
        transform: translate(-50%, -50%);
        background: rgba(251, 255, 255, 0.99);
    } 
}




.player-0:after{
    content: "PLAYER 0";
    width: 4rem;
    height:4rem;
    box-shadow: -1px 200px 400px 0px rgba(0,0,0,1);
    -webkit-box-shadow: -1px 200px 400px 0px rgba(0,0,0,1);
    -moz-box-shadow: -1px 200px 400px 0px rgba(0,0,0,1); ;
}

.player-1:after{
    content: "PLAYER 1";
    width: 4rem;
    height:4rem;
    box-shadow: -1px 200px 400px 0px rgba(0,0,0,1);
    -webkit-box-shadow: -1px 200px 400px 0px rgba(0,0,0,1);
    -moz-box-shadow: -1px 200px 400px 0px rgba(0,0,0,1); ;
}
/* 
.current:after {
    position: absolute;
    width: 4rem;
    height: 4rem;
    content: "A moi de jouer !";
}

.second:after {
    position: absolute;
    width: 4rem;
    height: 4rem;
    content: "En attente d'action";
} */

.firegun{
    content: "";
    position: absolute;
    width: 4rem;
    height:4rem;
    background: url(img/laser-gun.svg);
}

.shovel{
    content: "";
    position: absolute;
    width: 4rem;
    height:4rem;
    background: url(img/shovel.svg);
}

.rock{
    content: "";
    position: absolute;
    width: 4rem;
    height:4rem;
    background: url(img/stone.svg);
}

.rope{
    content: "";
    position: absolute;
    width: 4rem;
    height:4rem;
    background: url(img/jump-rope.svg);
}

.army > span{
   transform:scale(1.5);
}

.army > span:before{
    
        content: "";
        position: absolute;
        width: 3rem;
        height: 1rem;
        border-radius: 99%;
        border: 2px solid blue;
}   

.modale {
    position: absolute;
    display: flex;
    flex-direction: column;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 35%;
    padding:4rem 2rem;
    opacity:0.9;
    background: linear-gradient(145deg, rgba(232,233,234,0.5) 0%, rgb(255 255 255) 48%, rgba(232,233,234,0.5) 100%);
    border:solid 2px #519ecb;
    border-radius: 1rem;
    z-index: 2;
}

.modale > div {
    display: flex;
    justify-content: center;
}

.modale #attack {
    margin-right: 1rem;
}

.modale #defend {
    margin-left: 1rem;
}

.modale.pop{
    transform: scale(1);
    transition: 0.2s;
}